#verErr{
    font-size: 2vh;
    color: red;
}
.changePasswordCont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dashButton{
    background-color: rgb(51,51,51);
    color: rgb(126,195,127);
}